<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <%if @books.size>0%>
            <div class="row">
                <%@books.each do |book|%>
                    <%= render partial: "books/book", :locals => {:book => book,:path => show_share_modal_book_path(book.isbn),:action_class =>"fa-share"} %>
                <%end%>
            </div>
        <%else%>
            <h2>No books available</h2>
        <%end%>
    </div>
</section>
	