<h2>Requested Books</h2>
            <%if @books.count>0%>
            
              
                    <%@books.each do |book|%>
                        <%path = book_path(book)%>
                        
                        <%authors = book.authors.collect(&:name).join(',')%>
                        <%avatar = book.avatar.url(:medium)%>
                        <%rating = book.try(:google_provided_rating)%>
                        <%= render partial: "books/book", :locals => {:book => book,:authors => authors,:image_link => avatar,:average_rating => rating} %>
                  
                    <%end%>
                <%= will_paginate @books , renderer: BootstrapPagination::Rails%>
            
        <%else%>
            <h2>No books available</h2>
        <%end%>
<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>