modal = $('#app_modal');
modal.on('show.bs.modal', function (event) {
	modal.find('.modal-title').text('Great Move!');
	modal.find('.modal-body').html("You've successfully generated the BC Code for <%=@token.receiver.full_name%> of <%=@book.try(:title)%>. Share it with the book owner in exchange of book.");
	modal.find('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
			
})

$('#app_modal').modal('show');