<h2>About Us</h2>
<div class="well">

By the BOOK WORMS, for the BOOK WORMS, of the BOOK WORMS.<br/>
Yes you read it right, SHARE GARAGE is the REPUBLIC OF BOOK WORMS, the first of it’s kind book sharing platform in India where book lovers meet, socialise and share the books in exchange of our own currency BOOK COIN.<br/><br/>

DO NOT WORRY about the word Currency, its all FREE, you just have to follow the mantra SHARING IS CARING<br/>
We assure you, you are not going to spend a single penny as we will never ask for it. This has been started for the community of book readers and as a penniless book reader we understand the pain, hence FREEEE. Isn’t it interesting?<br/><br/>

Want to know more about us? Let’s meet over a cup of coffee, and the coffee is on us. But only the coffee, nothing else. MIND IT.
</div>
