<div>
	We are the only platform that provides you to fulfill your needs and desires to read your kind of books and that too for <b>FREE</b>.
	<br/> We believe in only one mantra that is *sharing is caring*.We provide you an oppurtunity to communiacte and socialise with the people who have a same kind of intrest in books as yours. <br/>We allow you to get any book you want to read in exchange of only one kind of currency...BC i.e. Book Coin. Soo...
</div>
<br/>
<div><b>READ-SHARE-REPEAT</b></div>