<div>
	Q1) Ummmm , what are you upto guys?
</div>
<div>
	Ans) Its a platform to share your already read books, and get those books that you want to read , as we promote the mantra of 'sharing is caring'. And donot forget you can grab those books for FREE. 😍
</div>
<div>
	Q2) How do we communicate to others?
</div>
<div>
	Ans) 'Do you know how do peas communicate......They mutter'😂 LOL. Kidding. You can communicate to others via emails as your email IDs are mentioned. Also you can talk to a respective person on the phone.
</div>
<div>
	Q3) How can we earn more book coins?
</div>
<div>
	Ans) As a keen book reader you would need to have more book coins and so you have to make some extra efforts as well😁... like inviting friends to signup our site and sharing more of your books.
</div>
<div>
	Q4)How can i maintain my privacy?
</div>
<div>
	Ans) You should not worry about this because we believe that all the users here are for the one same purpose... *THERE LOVE FOR BOOKS...* But still you can make privacy settings for your phone number.
</div>
<div>
	Q5)How can we manage our those books which are not being selected by other users?
</div>
<div>
	Ans) Not a problem. You can write to us about those books and we will let you know then.And don't worry.. for every book there is always a reader.
</div>
<div>
	Q6) What is the meaning of your logo?
</div>
<div>
	Ans) well...to know that great story about the meaning of our logo you need to have a cup of coffee with us. ;)
</div>