<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pick Locations</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.full_name %></td>
        <td><%= @book.pick_locations.collect(&:name).join(',') %></td>
        <td>
          <%= link_to 'Call','',
                       :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>