<%=form_tag request_book_users_path(:google_id => google_id),:remote => true do %>
<div class="span12">
	This will iniate a request for the book "<%=title%>" to our team. Are you sure you want to go ahead?
  <br/>
<br/>
    
    <div class="loading" style="display:none;">
                    <%= image_tag '/assets/loading.gif'%>
                    </div>
        
        <%=submit_tag 'Yes Please!',:class=>"btn btn-info btn-block",:onclick => "$('.loading').show();"%>
<%end%>