modal = $('#app_modal');
modal.on('show.bs.modal', function (event) {
	modal.find('.modal-title').text('<%=@book.title%>');
	modal.find('.modal-body').html("<%= escape_javascript(render(:partial => 'detail',:locals=>{:book=>@book})) %>");
	modal.find('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
	modal.find('.modal-footer').show();
})

$('#app_modal').modal('show');


