/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


span.stars, span.stars span {
    display: block;
    background: url(/assets/star-on.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
 span.stars span {
    background-position: 0 0;
}

.add-location{
	overflow: auto;
	height: 270px;
}

.location-cell{
  white-space: nowrap;
  overflow:hidden;
}

.location-outer-block{
  width:100%
}

.location-search-box{
  width: 90%
}

.user-dropdown{
	background-color:#ffe135;	
}
ul.user-dropdown li{
	border:none;
}
.cover{
  height: 71.5%;
    width: 100%;
}
.search-here {
  height: 45px;
}
.search-bg{
 margin: 3px 47px 0 0;
    padding: 11px 18px 7px 21px;}

.search-here-share{
  height: 45px;
}

#header h2 i {  
    font-size: 12px;
    padding: 0 3px 0 0;
}
#header h2 {
    font-size: 12px;
    margin: 0 10px 0 0;
    padding: 0;
}

.intro-text .intro-lead-in {
  font-size: 30px;
  color: black;
}

.insta a {
  background:url(/assets/webz/instaa_icon.png) no-repeat;
  margin:0 15px 0 0;
  float:left;
  width:37px;
  height:36px;
}

.insta a:hover {
  background:url(/assets/webz/instaa_icon_hover.png) no-repeat;
  margin:0 15px 0 0;
  float:left;
  width:37px;
  height:36px;
}
.dl-horizontal .comment-image{
  text-align:left;
}


.grab-share{
  width: 50%;
}

.grab-share ul li a.header-active{
   color:#ffe135;
}

div.loading{
  text-align:center;
}

.comment-date{
  color: grey;
    font-size: 12px;
}

.footer-line-yellow{width:90px;}
.footer-line{width:70px; }

.product-1 a{ color:#337ab7;}
.product-1 a:hover{ color:#00407d; text-decoration:underline;}

.login-signup ul li ul li{float:none;}

.fa.fa-exclamation-triangle {
    color: orange;
}
.fa.fa-share-square-o {
    color: blue;
}

@media screen and (max-width:320px)

{

  .search-area input {
    width: 58%;
}
.search-area input.search-here-share {
    width: 49%;
}

}

@media screen and (max-width:360px)

{

.search-area input {
    width: 62%;
}
.search-area input.search-here-share {
    width: 55%;
}
}


li.how-it-works{
  background: none repeat scroll 0 0 #FE2E64 !important;
}
.how-it-works a{
  color: #fff !important;
}
