@charset "utf-8";
/* CSS Document */

body {
	font-family:Roboto;
	font-size: 16px;
	margin:0px;
	padding:0px;
	color: #898989;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, span, strong, form, fieldset, table, th, tr, td, input, label, select, div, p 
{
 margin: 0px;
 padding: 0px;
}
html {
 margin: 0px;
 padding: 0px;
}
a {
 outline: none;
 text-decoration: none;
 color: #959794;
}
img {
 border: none;
 font-size: 10px;
 font-weight: normal;
}
.cover{
	width: 364px;
	height: 354px;
}
img{max-width:100%;}

.fl {
 float: left;
}
.fr {
 float: right;
}
.cl {
 clear: both;
 margin: 0;
 padding: 0
}
h1, h2, h3, h4, h5 {
 font-family:Roboto;
 margin: 0px 0px 0px 0px;
 font-weight: normal;
}
p {
 margin: 0px;
 font-size: 16px;
 color: #898989;
 line-height:24px;
 text-align:justify;
 font-family:Roboto;
}

.container{
	width:100%;
	margin:0px auto;
	height:auto;
}
#header{
	margin:0px;
	padding:10px 0;
	background:#101e28;
}

.header-left{float:left; padding:0px; width:30%;}
#header h2{ float:left; margin:0 10px 0 0; padding:0 0 0 0px; font-size:16px; color:#fff; font-family:Roboto;}
#header h2 i{float:left; padding:2px 5px 0 0; font-size:20px;}

#header h3{margin:0px; padding:0 0 0 0px; float:left; font-size:16px; color:#fff; font-family:Roboto;}
#header h3 i{float:left; padding:2px 5px 0 0; font-size:20px;}

.wrapper{
	width:1200px;
	margin:auto;
	overflow:hidden;
}

.header-right{float:right; padding:0px; width:16%; margin:0px;}
.login-signup{margin:0px; padding:0px; float:left;}
.login-signup ul{margin:0px; padding:0px; list-style:none;}
.login-signup ul li{margin:0px 0 0 0; padding:0 0 0 0px; float:left; border-right:solid 1px #FFF;}
.login-signup ul li a{margin:0px; padding:0 10px; font-size:16px; color:#fff;}
.login-signup ul li a:hover{color:#ffe135;}
.login-signup ul li a img{ padding:0;}

.question-icons {
	float:right;
	padding:0px 10px 0px 0;

}
.question a {
	background:url(/assets/webz/question_1.png) no-repeat;
	margin:0px 0 0 0;
	float:left;
	width:37px;
	height:36px;
}

.question a:hover {
	background:url(/assets/webz/question.png) no-repeat;
	margin:0px 0 0 0;
	float:left;
	width:37px;
	height:36px;
}

#logo{margin:0px; padding:10px 0 0 0; float:left; clear:both; width:23%;}

.search-area{float:left; padding:0px; margin:0 20px; width:70%;}
.grab-share{margin:0px 0px 10px 340px; padding:0px; float:left;}
.grab-share ul{margin:0px; padding:0px; list-style:none;}
.grab-share ul li{margin:0px 0 0 0; padding:0 0 0 0px; float:left; border-right:solid 1px #FFF;}
.grab-share ul li a{margin:0px; padding:0 10px; font-size:20px; color:#fff;}
.grab-share ul li a:hover{color:#ffe135; text-decoration:underline;}
.active{text-decoration:underline; padding:1px 0; color:#ffe135;}

.location{background:#d9d9d9; margin:3px 0 0 20px; padding:14px 10px 11px 10px; border-radius:5px 0px 0px 5px; float:left; clear:both;} 
.select-option{float:left; padding:0 10px; margin:0px; width:300px; height:45px; margin:3px 0 0 0; border-radius:0; border: 1px solid rgb(255, 255, 255);}
.search-here{ width:368px; height:43px; padding:0 10px; margin:3px 0 0 0; float:left;border: solid 1px #fff;}
.search-bg{background:#ffe135; padding:9px 18px 8px 21px; cursor:pointer; float:right;margin:3px 30px 0 0; border-radius:0 5px 5px 0;}
.search-bg:hover{ background:#ffb718;}

.menu{margin:10px 0px 0px 70px; padding:0px; float:left;}
.menu ul{margin:0px; padding:0px; list-style:none;}
.menu ul li{margin:0px 0 0 0; padding:0 13px 0 12px; float:left;}
.menu ul li a{margin:0px; padding:0 10px; font-size:16px; color:#fff;}
.menu ul li a:hover{color:#ffe135; text-decoration:underline;}

.shadow{margin:0 auto; text-align:center; width:100%; height:20px;}
.products{width:100%; padding:0px; margin:0px;}
.products h6{ font-size:12px; color:#172741; padding:0 0 20px 0;}
.product-1{width:31%; float:left; padding:0px; margin:20px 14px; text-align:center;}
.product-1 p{padding:5px 0 10px 0; margin:0px; text-align:center; font-size:20px; color:#101e28;}
.product-1 h2{padding:5px 0 0px 0; margin:0px; text-align:center; font-size:18px; color:#101e28; font-style:italic;}

.product-2{float:left; padding:0 0 10px 0; width:100%; margin:244px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-3{float:left; padding:0 10px 30px 10px; width:100%; margin:244px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-4{float:left; padding:0px 10px 24px 10px; width:100%; margin:251px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-5{float:left; padding:10px 10px 24px 10px; width:100%; margin:241px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-6{float:left; padding:10px 10px 24px 10px; width:100%; margin:241px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-7{float:left; padding:0px 10px 24px 10px; width:100%; margin:251px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-8{float:left; padding:10px 10px 24px 10px; width:100%; margin:241px 0px 0 0px; clear:both; text-align:center; background:#fff;}
.product-9{float:left; padding:10px 10px 24px 10px; width:100%; margin:241px 0px 0 0px; clear:both; text-align:center; background:#fff;}

.boxgrid{width:30%; height:511px; margin:10px; float:left; background:#101e27;overflow: hidden; border:solid 1px #CCC; position: relative;}
.boxgrid img{ position: absolute; top: 0; left: 0; border: 0;}

.boxgrid h3{ margin: 10px 10px 0 10px; color:#101e28; font:18pt Arial, sans-serif; letter-spacing:-1px; font-weight: bold;  }
.boxgrid h3 img{z-index:-00000; float:left;}


.star-icon{margin:10px 0px 0px 104px; padding:0px; float:left;}
.star-icon ul{margin:0px; padding:0px; list-style:none;}
.star-icon ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon ul li img{max-width:100%; position:relative;}

.star-icon1{margin:10px 0px 0px 121px; padding:0px; float:left;}
.star-icon1 ul{margin:0px; padding:0px; list-style:none;}
.star-icon1 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon1 ul li img{max-width:100%; position:relative;}

.star-icon2{margin:10px 0px 0px 83px; padding:0px; float:left;}
.star-icon2 ul{margin:0px; padding:0px; list-style:none;}
.star-icon2 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon2 ul li img{max-width:100%; position:relative;}

.star-icon3{margin:10px 0px 0px 117px; padding:0px; float:left;}
.star-icon3 ul{margin:0px; padding:0px; list-style:none;}
.star-icon3 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon3 ul li img{max-width:100%; position:relative;}

.star-icon4{margin:10px 0px 0px 110px; padding:0px; float:left;}
.star-icon4 ul{margin:0px; padding:0px; list-style:none;}
.star-icon4 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon4 ul li img{max-width:100%; position:relative;}

.star-icon5{margin:10px 0px 0px 110px; padding:0px; float:left;}
.star-icon5 ul{margin:0px; padding:0px; list-style:none;}
.star-icon5 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon5 ul li img{max-width:100%; position:relative;}

.star-icon6{margin:10px 0px 0px 115px; padding:0px; float:left;}
.star-icon6 ul{margin:0px; padding:0px; list-style:none;}
.star-icon6 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon6 ul li img{max-width:100%; position:relative;}

.star-icon7{margin:10px 0px 0px 112px; padding:0px; float:left;}
.star-icon7 ul{margin:0px; padding:0px; list-style:none;}
.star-icon7 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon7 ul li img{max-width:100%; position:relative;}

.star-icon8{margin:10px 14px 0px 110px; padding:0px; float:left;}
.star-icon8 ul{margin:0px; padding:0px; list-style:none;}
.star-icon8 ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon8 ul li img{max-width:100%; position:relative;}


.star-icon ul{margin:0px; padding:0px; list-style:none;}
.star-icon ul li{margin:0px 0 0 0; padding:0 5px 0 5px; float:left;}
.star-icon ul li img{max-width:100%; position:relative;}
.pagination-right{float:right; padding:0px; margin:0px;}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin:20px 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
ul.pagination li a.active {
    background-color: #347ab8;
    color: white;
    border: 1px solid #347ab8;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.newsletter-bg{background:#efefef;padding:10px 0; margin:0px; overflow:hidden; width:100%;}
.newsletter-heading{margin:0px; padding:0px; float:left;}
.newsletter-heading h2{font-size:45px; padding:10px 0 0 0; color:#000; margin:0px; float:left; font-weight:bold; text-transform:uppercase;}
.search-content{width:52%; float:right; margin:20px 0 0 0; padding:0px 0px; background:#fff;}
.search-content input{ float:left; border:0; padding:18px 6px; width:70%; font-size:15px; color:#333;}
.newsletter-right-bg{background:#ffe135;   float:right;  text-align:center; width:20%;}
.newsletter-right-bg input{ border:none; background:none; padding:10px 0; text-align:center; width:100%; padding:16px 0px; color:#484a4a;  font-size:18px;  font-weight:bold; cursor:pointer; }
.newsletter-right-bg:hover{ background:#ccb00f;}
.newsletter-bg p{float:left; padding:0 0 10px 10px; margin:0px; clear:both; font-size:18px; font-weight:600; text-transform:uppercase;}
.newsletter-bg span{color:#fe7903;}

#footer{background:#101e27; padding:20px 0; margin:0px; width:100%;}
.footer-location{width:36%; float:left; padding:0px; margin:0 10px 0 0;}
.footer-location h2{font-size:20px; color:#ffe135; padding:0 0 5px 0; font-weight:500;}
.address-menu{margin:10px 0 0 0; padding:0px;}
.address-menu ul{margin:0px; padding:0px; list-style:none;}
.address-menu ul li{margin:0px; padding:5px 0px; text-decoration:none; color:#fff; line-height:24px;}
.address-menu li p{ color:#fff;}

.connect-us-cont{width:20%; float:left; padding:0px; margin:0 10px 0 50px;}
.connect-us-cont h2{font-size:20px; color:#ffe135; padding:0 0 10px 0; font-weight:500;}
.connect-us{margin:0px; padding:0px;}
.connect-us ul{margin:0px; padding:0px; list-style:none;}
.connect-us ul li{margin:0px; padding:15px 0px; clear:both; text-decoration:none; color:#fff; line-height:24px;}
.connect-us li p{ color:#fff; padding:3px 0 0 0;}
.connect-us li img{float:left; margin:0px; padding:0 10px 0 0;}

.footer-bottom{background:#323232; margin:0px; padding:10px 0px; text-align:center;}
.footer-bottom p{font-size:14px; text-align:center; color:#fff;}
.footer-bottom a{color:#ffe135;} 



.social-list{
	margin:63px 0 0 100px;
	padding:0px;
}
.social-list ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.social-list ul li {
    margin:0px;
    padding: 0px 20px 0 0;
	float:left;
	
}
.social-list ul li a{
	font-size:30px;
	color:#6CC;
	text-decoration:none;
	border-radius:100%;
	float: left;
    width: 50px;
    height: 50px;
    background: #fff none repeat scroll 0% 0%;
	text-align:center;
	margin:0 3px;

	
}
.social-list ul li a i {
    color: #498ECB;
    font-family:'FontAwesome';
    margin-top: 10px;
	padding:0px;
	text-align:center;

}
.social-list ul li a:hover{
    background:#EF7721;
	color:#FFF;
}
.social-list ul li a i:hover { color:#fff;}

.icons {
	width:160px;
	float:left;
	padding:20px 0 10px 0;

}

.facebook a{
	background:url(/assets/webz/facebook.png) no-repeat;
	width:37px;
	height:36px;
	margin:0 15px 0 0;
	float:left;
}

.facebook a:hover {
	background:url(/assets/webz/facebook_1.png) no-repeat;
	margin:0 15px 0 0;
	width:37px;
	height:36px;
}

.google a {
	background:url(/assets/webz/google.png) no-repeat;
	margin:0 15px 0 0;
	float:left;
	width:37px;
	height:36px;
}

.google a:hover {
	background:url(/assets/webz/google_1.png) no-repeat;
	margin:0 15px 0 0;
	float:left;
	width:37px;
	height:36px;
}


.twitter a {
	background:url(/assets/webz/twitter.png) no-repeat;
	margin:0px 0 0 0;
	float:left;
	width:37px;
	height:36px;
}

.twitter a:hover {
	background:url(/assets/webz/twitter1.png) no-repeat;
	margin:0px 0 0 0;
	float:left;
	width:37px;
	height:36px;
}

.address-menu ul li i{float:left; padding:5px 10px 10px 0; font-size:20px;}

.footer-line{background:#FFF; padding:1px; width:50px; float:left; margin:0 0 2px 0;}
.footer-line-yellow{background:#ffe135; padding:1px; width:70px; float:left; margin:0 0 2px 0;}

.footer-line-1{background:#FFF; padding:1px; width:80px; float:left; margin:0 0 2px 0;}
.footer-line-yellow-1{background:#ffe135; padding:1px; width:90px; float:left; margin:0 0 2px 0;}

.footer-line-2{background:#FFF; padding:1px; width:90px; float:left; margin:0 0 2px 0;}
.footer-line-yellow-2{background:#ffe135; padding:1px; width:110px; float:left; margin:0 0 2px 0;}

