    <div class="newsletter-bg">
    	<div class="wrapper">
            <div class="alert alert-success" id="donate_div" style="display:none;">
                
            </div>
        	<div class="newsletter-heading">
            	<h2>Want to donate!</h2>
                <p>Donate your used book, <span>and make the most of it!</span></p>
            </div>
            <div class="search-content">
            <%=form_tag donate_request_home_path(),:remote => true,:method => :post do%>
            	<input type="text" name="email" placeholder="Enter your email, we'll get back to you">
                <div class="newsletter-right-bg">
                	<input type="submit" value="Donate">
                </div>
            <%end%>
            </div>
        </div>
    </div>
    <div id="footer">
    	<div class="wrapper">
        	<div class="footer-location">
            	<h2>LOCATION</h2>
                <div class="footer-line"></div>
                <div class="footer-line-yellow"></div>
                <div class="address-menu">
                	<ul>
                        <li><i class="fa fa-phone"></i>
                        	<p>+91-9205512899</p></li>
                        <li><i class="fa fa-envelope"></i>
                        	<p>team@sharegarage.com</p></li>
                    </ul>
                </div>
            </div>
            <div class="footer-location">
            	<h2>About</h2>
                <div class="footer-line-1"></div>
                <div class="footer-line-yellow-1"></div>
                <div class="address-menu">
                	<ul>
                    	<li><p><a href="<%=about_us_home_path%>">About Us</a></p></li>
                        <li><p><a href="<%=privacy_policy_home_path%>">Privacy Policy</a></p></li>
                        <li><p><a href="<%=terms_of_service_home_path%>">Terms and Conditions</a></li>
                     
                    </ul>
                </div>
                
            </div>
            <div class="connect-us-cont">
            	<h2>CONNECT WITH US</h2>
                <div class="footer-line-2"></div>
                <div class="footer-line-yellow-2"></div>
                <div class="icons">
                    <div class="facebook"><a href="https://www.facebook.com/Sharegarage" target="_blank"></a></div>
                    <div class="insta"><a href="https://www.instagram.com/share_garage" target="_blank"></a></div>
                    <div class="twitter"><a href="https://www.twitter.com/share_garage?s=08" target="_blank"></a></div>
                </div>
               
                <!--<div class="connect-us">
                	<ul>
                    	<li><a href="#"><img src="/assets/webz/facebook_icon.png"></a><p>FACEBOOK</p></li>
                        <li><a href="#"><img src="/assets/webz/google_icon.png"></a><p>GOOGLE</p></li>
                        <li><a href="#"><img src="/assets/webz/twitter_icon.png"></a><p>TWITTER</p></li>
                    </ul>
                </div>-->
                
            </div>
        </div>
    </div>
    <div class="footer-bottom">
    	<p>© Copyright 2016 ShareGarage. All right reserved.Graphic Design By <a href="http://webzpapa.com/" target="_blank">
        WebzPapa.</a></p>
    </div>